{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
//        [
//            "module-resolver",
//            {
//                "root": [
//                    "./src"
//                ]
//            }
//        ],
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
